
<!-- <h2>{{ data[0].departmentName }}</h2>
<h3>Department ID: {{ data[0].departmentId }}</h3>
<h4>Employees:</h4>
<ul>
    <li>{{ data[0].employees[0].employeeFirstname }}</li>
    <li>{{ data[0].employees[1].employeeFirstname }}</li>
    <li>{{ data[0].employees[2].employeeFirstname }}</li>
</ul> -->

<div class="department-header">


    <div class="buttons">
        <!-- <h2>CRUD Buttons</h2> -->

        <!-- parentheses indicate an event listener; when the button "hears" a click event
                it executes the method -->
        <!-- <button (click)="getAllDepartments()">Get All</button> -->
        <!-- <button (click)="createDepartment()">Create</button>
        <button (click)="updateDepartment()">Update</button> -->
        <!-- <button (click)="deleteDepartment(departments.departmentId)">Delete</button> -->

    </div>

    <div class="buttons">
        <h2>Get Department By ID</h2>
        <form>
            <label for="formDepartmentId">Department ID to Get: </label>
            <input type="number" 
                id="formDepartmentId" 
                name="formDepartmentId"
                [(ngModel)]="formDepartmentId">

            <button (click)="getDepartmentById()">SUBMIT</button>
        </form>
    </div>

    <div class="buttons">
        <h2>Create Department</h2>

        <form>

            <label for="postFormId">Department ID: </label>
            <input type="number"
                id="postFormId"
                name="postFormId"
                [(ngModel)]="formDepartment.departmentId">

            <label for="postFormName">Department Name: </label>
            <input type="text"
                id="postFormName"
                name="postFormName"
                [(ngModel)]="formDepartment.departmentName">

            <button (click)="createDepartment()"
                    [disabled]="departmentNames.includes(formDepartment.departmentName)
                            || departmentIds.includes(formDepartment.departmentId)">SUBMIT</button>

            <!-- div only appears if name exists already -->
            <div *ngIf="departmentNames.includes(formDepartment.departmentName)" style="color: red">
                Department Name already exists!
            </div>

            <div *ngIf="departmentIds.includes(formDepartment.departmentId)" style="color: red">
                Department ID already exists!
            </div>

        </form>
    </div>
</div>

<div class="department-cards-container">
    <div *ngFor="let currDept of departments; let i = index">
        <app-department-card [department]="currDept"
                             (deleteDepartmentEvent)="processDeleteEvent($event)">
        </app-department-card>
    </div>
</div>




<!-- <ng-container *ngFor="let dept of departments">

    <h2>{{ dept.departmentName }}</h2>
    <h3>Department ID: {{ dept.departmentId }}</h3>
    <h4 *ngIf="dept.employees.length">Employees:</h4>
    <ul>
        
        <ng-container *ngFor="let emp of dept.employees">

            <li>{{ emp.employeeFirstname + ' ' + emp.employeeLastname }}</li>

        </ng-container>

    </ul>

    <br>

</ng-container> -->
